.home-logo {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.welcome-text {
    margin-top: 50px;
    text-align: center;
}

.input-addon-button {
    background-color: #68217A;
    color: #fff;
    border-color: #68217A;
}

.input-addon-button:hover {
    background-color: #fff;
    color: #68217A;
}

.input-tfs-url {
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    width: inherit;
}

.input-tfs-url input:focus {
    border-color: #68217A;
}

.project {
    padding: 10px;
}

.header {
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.header-title {
    padding: 0;
}

.build-summary {
    margin-left:10px;
    margin-right:10px;
}

.body-content {
    margin-top: 130px;
}

.no-padding {
    padding: 0 !important;
}

#project-list {
    margin: 0;
}

h1 {
    color: #68217A;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes fadeInOut {
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}

.building-card {
    animation: fadeInOut 2s infinite;
}

#nprogress .bar {
    background: #68217A;
}

#nprogress .peg {
  box-shadow: 0 0 10px #68217A, 0 0 5px #68217A;
}

#nprogress .spinner-icon {
  border-top-color: #68217A;
  border-left-color: #68217A;
}