.home-logo {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.welcome-text {
    margin-top: 50px;
    text-align: center;
}

.input-addon-button {
    background-color: #68217A;
    color: #fff;
    border-color: #68217A;
}

.input-addon-button:hover {
    background-color: #fff;
    color: #68217A;
}

.input-tfs-url {
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    width: inherit;
}

.input-tfs-url input:focus {
    border-color: #68217A;
}

.build {
    padding: 10px;
}

.header {
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.header-title {
    padding: 0;
}

.build-summary {
    margin-left:10px;
    margin-right:10px;
}

.body-content {
    margin-top: 130px;
}

.no-padding {
    padding: 0 !important;
}

.build-details-link {
    color: #fff;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.build-details-link:hover{
    color: #fff;
    text-decoration: none;
}

.build-details-link:focus{
    color: #fff;
    text-decoration: none;
}

.show-build-link {
    cursor: pointer;
    color: #68217A !important;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #68217A;
    border-radius: 5px;
}

.show-build-link:hover{
    color: #fff !important;
    text-decoration: none;
    background-color: #68217A;
}

.show-build-link:focus{
    color: #68217A !important;
    text-decoration: none;
}

.faded-overlay {
    opacity:0.3;
    filter: alpha(opacity=20);
    background-color:#fff; 
    width:100%; 
    height:100%; 
    z-index:10;
    top:0; 
    left:0; 
    position:fixed; 
}

.build-close-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

.hidden-build-element {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.configure-builds-link {
    cursor: pointer;
    color: #68217A !important;
    text-decoration: none;
    padding: 5px;
    border: 2px solid #68217A;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px;
}

.configure-builds-link:hover{
    color: #fff !important;
    text-decoration: none;
    background-color: #68217A;
}

.configure-builds-link:hover:focus{
    color: #fff !important;
    text-decoration: none;
    background-color: #68217A;
}

.configure-builds-link:focus{
    color: #68217A !important;
    text-decoration: none;
}

#hidden-builds {
    margin-bottom: 20px;
}

#build-list {
    margin: 0;
}

h1 {
    color: #68217A;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes fadeInOut {
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}

.building-card {
    animation: fadeInOut 2s infinite;
}

#nprogress .bar {
    background: #68217A;
}

#nprogress .peg {
  box-shadow: 0 0 10px #68217A, 0 0 5px #68217A;
}

#nprogress .spinner-icon {
  border-top-color: #68217A;
  border-left-color: #68217A;
}